<div class="list-group">
  <a href="#" class="list-group-item active">Shopping Cart Total</a>
  <a href="#" class="list-group-item"><%=@products.first.name%> €<%=@products.first.price%></a>
  <a href="#" class="list-group-item"><%=@products.second.name%> €<%=@products.second.price%></a>
  <a href="#" class="list-group-item"><%=@products.third.name%> €<%=@products.third.price%></a>
  <a href="#" class="list-group-item"><strong><b>Total: </b></a>







    <!-- <%#= @items.each do |item| %>
    <p><%# product.name %>
     -->
