<div class="col-xs-12 col-sm-9">
  <h1>All Products</h1>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class= "panel-heading"><h3><%= product.name %></h3></div>
          <div class="panel-body">
            <p><%= product.shortdescription %></p>
            <%= image_tag product.photos.first.image.index_size, class: "index-product-img" %>
          </div>
        </div>
        <p><%= number_to_currency(product.price, unit: "€ ") %></p>
        <%= link_to "Product Details", product, class: "btn btn-primary" %>
        <%= link_to "Buy One", add_to_cart_path(product.id), method: :post, class: "btn btn-success" %>
        <hr style="border-top: 1px solid #000;">
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/cart' %>
